<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/navbar.css">
</head>
<body>

{% block nav %}
{% include 'nav_index.html' %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>