.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.lemmasContainer {
    overflow-y: scroll;
    width: 40%;
    padding: 1rem 2rem;
}

.sidebar {
    width: 60%;
}

.sidebarSection {
    width: 100%;
    height: 50%;
}

.exposed{
    color: blue;
}

.clicked {
    color: red;
}
